.corpinho{
    display: flex; 
    height: 100vh;
    margin: 15px 10px;
    flex-direction: column;
    
}

.box{

    height: 500px;
    width: 100%;
    max-width: 900px;
    margin: auto;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    border:  5px solid whitesmoke;
    border-radius: 20px;
    
}
button{
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 10px 20px;
}

.titulo{
    color: rgb(5, 5, 5);
}

.texto{
    font-size: 26px;
    font-weight: 900;
    color: rgb(245, 243, 243);
}
.font_black{
    color: black;
}
.font_branco{
    color: white;
}
.tomato{
    background-color: black;
}
.skyblue{
    background-color: skyblue;
}

/*@media comando para aplicar novos estilos a pagina */
/*screen-> a referência é a tela do usuário */
/*max-width for igual a 770px */
@media screen  and (max-width: 770px){
    .corpinho{
        background-color: tomato;
        transition: 1s;
    }
    
    .box{
        height: 250px;
        transition: 1s;
    }

}
@media screen  and (min-width: 770px){
    .corpinho{
        background-color: black;
        transition: 1s;
    }
    
    .box{
        animation: movimento 3s linear infinite;
    }

}

@keyframes movimento {
    100%{
        width: 900px;
    }
    50%{
        width: 500px;
    }
    10%{
        width: 100px;
    }
}